/* You can add global styles to this file, and also import other style files */
body{
	color:#888;
	padding:0;
	margin:0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
}